# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.optrpt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Test problem output
Test_Package/Problem*.csv
Test_Package/Problem*.stat
Test_Package/*.vtk
